*.iml
.gradle/
/local.properties
/.idea
.DS_Store
/build
/app/build
/captures
.externalNativeBuild
.cxx
local.properties

# Android Keystore & Certificates (Never commit to Git!)
*.jks
*.keystore
keystore/
